<div class="container">
	
	<div class="row top-h1 ltitle48">
		<div class="col-12 col-lg-12 col-sm-12">
			<h1 class="text-center">A selection of our work</h1>
		</div>
	</div>
	
	<div class="row mport text-center">	
		<div class="col-lg-4 col-xs-12 col-sm-4 port-item msport">
			<a href="/portfolio/mindfulocity/" class="port-hover" style="opacity: 0; display: inline;">
				<div class="port-inner">
					<p><%= image_tag "icon-rocket.png", alt: "" %></p>
					<p class="port-title">Mindfulocity</p>
				</div>
			</a>
			<a href="/portfolio/mindfulocity/">
				<%= image_tag "mindful_featured1-23667_crop_360_287_0_0_0_90___132.jpg", class: "lazy", width: 360, height: 287, alt: "" %>
			</a>
		</div>

		<div class="col-lg-4 col-xs-12 col-sm-4 port-item msport">
			<a href="/portfolio/for-sale-direct/" class="port-hover">
				<div class="port-inner">
					<p><%= image_tag "icon-rocket.png", alt: "" %></p>
					<p class="port-title">For Sale Direct</p>
				</div>
			</a>
			<a href="/portfolio/for-sale-direct/">
				<%= image_tag "fsd_feature-22986_crop_360_287_0_0_0_90___36.jpg", class: "lazy", width: 360, height: 287, alt: "" %>				
			</a>
		</div>

		<div class="col-lg-4 col-xs-12 col-sm-4 port-item msport">
			<a href="/portfolio/morega-agency/" class="port-hover">
				<div class="port-inner">
					<p><%= image_tag "icon-rocket.png", alt: "" %></p>
					<p class="port-title">Morega Agency</p>
				</div>
			</a>
			<a href="/portfolio/morega-agency/">
				<%= image_tag "mor_feature-23014_crop_360_287_0_0_0_90___46.jpg", class: "lazy", width: 360, height: 287, alt: "" %>					
			</a>
		</div>
	</div>

	<!-- <div class="row mport text-center">	
		<div class="col-lg-4 col-xs-12 col-sm-4 port-item msport">
			<a href="/portfolio/musket-transportation/" class="port-hover" style="opacity: 0; display: inline;">
				<div class="port-inner">
					<p><img src="/images/layout/icon-rocket.png" alt=""></p>
					<p class="port-title">Musket Transportation</p>
				</div>
			</a>
			<a href="/portfolio/musket-transportation/"><img class="lazy" width="360" height="287" src="/userfiles/cms_images/portfolio_cache/musket_feature-23026_crop_360_287_0_0_0_90___48.jpg" alt=""></a>
		</div>

		<div class="col-lg-4 col-xs-12 col-sm-4 port-item msport">
			<a href="/portfolio/asis-toronto-chapter/" class="port-hover">
				<div class="port-inner">
					<p><img src="/images/layout/icon-rocket.png" alt=""></p>
					<p class="port-title">Asis Toronto Chapter</p>
				</div>
			</a>
			<a href="/portfolio/asis-toronto-chapter/"><img class="lazy" width="360" height="287" src="/userfiles/cms_images/portfolio_cache/asis_feature-23050_crop_360_287_0_0_0_90___53.jpg" alt=""></a>
		</div>

		<div class="col-lg-4 col-xs-12 col-sm-4 port-item msport">
			<a href="/portfolio/nrx-factor/" class="port-hover">
				<div class="port-inner">
					<p><img src="/images/layout/icon-rocket.png" alt=""></p>
					<p class="port-title">NRX Factor</p>
				</div>
			</a>
			<a href="/portfolio/nrx-factor/"><img class="lazy" width="360" height="287" src="/userfiles/cms_images/portfolio_cache/nrx_feature-23059_crop_360_287_0_0_0_90___62.jpg" alt=""></a>
		</div>

	</div>

	<div class="row mport text-center">	
		<div class="col-lg-4 col-xs-12 col-sm-4 port-item msport">
			<a href="/portfolio/st-joseph-the-worker-parish/" class="port-hover" style="opacity: 0; display: inline;">
				<div class="port-inner">
					<p><img src="/images/layout/icon-rocket.png" alt=""></p>
					<p class="port-title">St Joseph The Worker Parish</p>
				</div>
			</a>
			<a href="/portfolio/st-joseph-the-worker-parish/"><img class="lazy" width="360" height="287" src="/userfiles/cms_images/portfolio_cache/stjw_feature-23070_crop_360_287_0_0_0_90___64.jpg" alt=""></a>
		</div>

		<div class="col-lg-4 col-xs-12 col-sm-4 port-item msport">
			<a href="/portfolio/scan-decor/" class="port-hover">
				<div class="port-inner">
					<p><img src="/images/layout/icon-rocket.png" alt=""></p>
					<p class="port-title">Scan Decor</p>
				</div>
			</a>
			<a href="/portfolio/scan-decor/"><img class="lazy" width="360" height="287" src="/userfiles/cms_images/portfolio_cache/sd_feature-23081_crop_360_287_0_0_0_90___68.jpg" alt=""></a>
		</div>

		<div class="col-lg-4 col-xs-12 col-sm-4 port-item msport">
			<a href="/portfolio/chisholm-academy/" class="port-hover">
				<div class="port-inner">
					<p><img src="/images/layout/icon-rocket.png" alt=""></p>
					<p class="port-title">Chisholm Academy</p>
				</div>
			</a>
			<a href="/portfolio/chisholm-academy/"><img class="lazy" width="360" height="287" src="/userfiles/cms_images/portfolio_cache/chisholm_feature-23093_crop_360_287_0_0_0_90___72.jpg" alt=""></a>
		</div>

	</div>


	<div class="row">
		<div class="col-12 col-lg-12 col-sm-12">
			<div class="portfolio-pagination-container">
				<ul class="pagination">			
				    	<li><a href="/portfolio/1">First</a></li>
				    	<li><a href="/portfolio/1">Previous</a></li>
							<li class="active"><a href="/portfolio/1">1</a></li>
							<li class=""><a href="/portfolio/2">2</a></li>
							<li class=""><a href="/portfolio/3">3</a></li>
			    		<li><a href="/portfolio/2">Next</a></li>
			    		<li><a href="/portfolio/3">Last</a></li>				
					</ul>
				</div>
		</div>
	</div> -->


	<div class="row">
		<div class="col-12 col-lg-12 col-sm-12">
			&nbsp;
		</div>
	</div>
	<script type="text/javascript">
		$("img.lazy").lazyload({
		    effect : "fadeIn",
			effectspeed: 200,
		}).removeClass("lazy");
	</script>
</div>