<div id="head-bg" class="hidden-sm">
	<div class="container">
		<div class="row">
			<div class="navbar navbar-inverse">
				<div class="col-lg-3 col-xs-12 col-sm-3">
					<a class="logo mlogo" href="/">
						<%= image_tag "logo.png", alt: "" %>
					</a>
				</div>

				<div class="col-lg-9 col-xs-12 col-sm-9">
                        <div class="nav-collapse pull-right">
						<ul class="nav navbar-nav">
							<li><%= link_to "Home", root_url %></li>
							<li><%= link_to "Portfolio", portfolio_url %></li>
							<li><%= link_to "Services", services_url %></li>
							<li><%= link_to "About Us", about_us_url %></li>
						<!-- 	<li><a href="/insights/">insights</a></li> -->
							<li><%= link_to "Get in Touch", contact_url %></li>

						</ul>
					</div><!-- /.nav-collapse -->


				</div>
			</div>
		</div><!-- EO row -->
	</div><!-- EO container -->
</div>


<div id="head-bg" class="visible-sm">
	<div class="container">
		<div class="row">
			<div id="lwd_mobile_pop_nav" class="phone-menu sm-nav" style="right: -185px;">
				<a href="#" class="pull-left menu-btn">
					<%= image_tag "menu-btn.png", alt: "" %>					
					</a>
				<div class="menu" style="height: 311px;">
					<a href="/" class="menu-item" style="line-height: 38px; height: 38px;">
						<div class="menu-item-inner">
							<i class="fa fa-home"></i> home
						</div>
					</a>

					<a href="/portfolio/1" class="menu-item" style="line-height: 38px; height: 38px;">
						<div class="menu-item-inner">
							<i class="fa fa-suitcase"></i> portfolio
						</div>
					</a>

					<a href="/services.php" class="menu-item" style="line-height: 38px; height: 38px;">
						<div class="menu-item-inner">
							<i class="fa fa-camera"></i> services
						</div>
					</a>

					<a href="/about-us.php" class="menu-item" style="line-height: 38px; height: 38px;">
						<div class="menu-item-inner">
							<i class="fa fa-heart"></i> about us
						</div>
					</a>

					<a href="/insights/" class="menu-item" style="line-height: 38px; height: 38px;">
						<div class="menu-item-inner">
							<i class="fa fa-comments"></i> insights
						</div>
					</a>

					<a href="/get-in-touch.php" class="menu-item" style="line-height: 38px; height: 38px;">
						<div class="menu-item-inner">
							<i class="fa fa-phone-square"></i> get in touch
						</div>
					</a>

					<div class="bottom-logo">
						<%= image_tag "logo-lg.png", alt: "" %>						
					</div>
				</div>
			</div>
			<div class="col-xs-8 col-sm-8">
				<a class="logo mlogo" href="/">
					<%= image_tag "logo.png", alt: "" %>
				</a>
			</div>

			<div class="col-xs-4 col-sm-4">

				&nbsp;

			</div>
		</div><!-- EO row -->
	</div><!-- EO container -->
</div>

<div class="header-height"></div>